 
 
 a {
 font-size: 25px;
 font-family: Verdana;
 color: rgba(128, 103, 103, 0.815);
 background-color: beige;
 border: 2px solid silver;
        }

        nav {
         z-index: 1;
         position: absolute; 
         top: 10%;
         left: 10%;
        width: 60%;
      }

section {
        color:rgb(56, 48, 45);
        background-color: rgba(245, 245, 220, 0.479);
        position: absolute;  
        text-align:left; 
        font-size: 20px;
        top: 30%;
         width: 50%; 
     }   

 h1 {
  
        font-size: 50px; 
        font-family: "Sofia",sans-serif;
        color:rgb(80, 67, 57);
      
     }

footer {
   position: relative;
   bottom: 0;
}

 aside {

   position: absolute; 
        top: 30%;
        left: 60%;
        height: 100%;
        
      
     }

h2 {
        font-size: 35px;
        font-family: 'Handlee', cursive;
        color: rgb(114, 93, 76);
        background-color: beige;
        border: 2px solid silver;
               }
h3 {
   font-size: 20px;
   font-family: Verdana;
   color: rgb(114, 93, 76);
   background-color: beige;
   border: 2px solid silver;
                         }
               
   body {
     
       background-image: url(img/fondo.png);
       background-size: cover;
       height: 50%;
       margin-left: 8%;
      }
                
                
                
                div {
                  background-color: rgba(238, 221, 209, 0.829);
               }
                
                
                span {
                  background-color: #f18973;
                }

h1.centrado{

   text-align: center;
}
h2.centrado{

   text-align: center;
}
h3.centrado{

   text-align: center;
}

.chocolate{

   color: rgb(114, 93, 76);
}

.customtext1{

 
   font-family: "Sofia",sans-serif;
}


/* menu desplegable listas */
ul{
   list-style: none;
 }
 #menu li>a{
   background-color: rgb(238, 221, 209);;
   color: rgb(114, 93, 76);;
   padding: 10px;
   display: block;
   text-decoration: none;
   min-width: 100px;
 }
 #menu li>a:hover{
   color: rgb(185, 168, 156);
   background-color: #eaeaea;
 }
 #menu>li{
   float: left;
   text-align:center
 }


 #menu>li>ul{
   display: none;
 }
 #menu>li:hover>ul {
   display:block;
 }

 img {
   max-width: 100%;
   max-height: 100%;
  }
  .Bolas {
   height: 500px;
   width:500px;
  }


  
  @media screen and (max-width: 1300px){
   section{
       width:50%;
   }
   aside {
      width: 98%;
   }
}

@media screen and (min-width: 900px) and (max-width: 1300px){
   section{
       width:50%;
   }
   aside {
      width: 98%;
   }
}

@media screen and (device-width: 1180px) and (device-height: 820px) and (orientation:landscape) {
   section{
      width:40%;
  }
  aside {
     width: 98%;
  }
}

@media screen and (device-width: 1180px) and (device-height: 820px) and (orientation:portrait) {
   section{
      width:40%;
  }
  aside {
     width: 60%;
  }
}

@media screen and (device-width: 390px) and (device-height: 844px) and (orientation:landscape) {
   section{
      width:40%;
  }
  aside {
     width: 98%;
  }
}

@media screen and (device-width: 390px) and (device-height: 844px) and (orientation:portrait) {
   section{
      width:40%;
  }
  aside {
     width: 60%;
  }
}